/* ==============================
Result Page
============================== */

.result-container{

display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;

margin-top:40px;

}

.card{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.2);

text-align:center;

width:420px;

}

.result-image{

width:100%;

border-radius:15px;

}

.prediction-card{

width:80%;

margin:40px auto;

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.prediction-card ul{

text-align:left;

display:inline-block;

font-size:18px;

}

.download-btn{

background:#ff4444;

color:white;

padding:15px 30px;

border-radius:30px;

text-decoration:none;

font-size:18px;

font-weight:bold;

transition:.3s;

}

.download-btn:hover{

background:#d90000;

}

.home-btn{

background:#007bff;

color:white;

padding:15px 30px;

border-radius:30px;

text-decoration:none;

font-size:18px;

font-weight:bold;

transition:.3s;

}

.home-btn:hover{

background:#0056b3;

}